<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
            color: red;
            margin: 20px;
        }
        span{
            color: white;
            background-color: rgb(39, 109, 39);
            padding: 5px 10px;
            border: 2px solid gray;
            border-radius: 10px;
        }
        .container{
            text-align: center;
        }
        h2{
            color: indianred;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <h2>Name and Email are required</h2>
        <a href="/users">
            <span>Back</span>
        </a>
    </div>
</body>
</html>
