<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheet/users.css">
</head>
<body>
    <div class="header">
        <div>
            <a href="/"><span class="logo">User</span> </a>
        </div>
        <div>
            <button class="goToUser"><a href="/users/new">Add User</a></button>
        </div>
    </div>
    <div class="container">
        <section>
            <h1>Listing User</h1>
            <div class="allUsers">

                    <% users.forEach((user)=>{ %>
                    <div class="userHolder">
                        <h2>Name: <%= user.name %></h2>
                    
                        <div><a class="readMore" href="/users/<%= user._id %> ">Read More</a></div>
                    </div>
                     <% }) %>

            </div>

        </section>
    </div>
</body>
</html> 